body {
    font-size: 24px;
}
p.green {
    color: green;
}
p.red {
    color: red;
}
p.blue {
    color: blue;
}
p.orang {
    color: orang;
}
p.italic {
    font-style: italic;
}
p.bold {
    font-weight: bold;
}
li.green {
    color: green;
}
li.red {
    color: red;
}
li.blue {
    color: blue;
}
li.orange {
    color: orange;
}

ul ol li.green {
    color: green;
}
ul ol li.red {
    color: red;
}
ul ol li.blue {
    color: blue;
}
li.orange {
    color: orange;
}
span.xxsmall {
    font-size: 10px;
}
span.xsmall {
    font-size: 20px;
}
span.small {
    font-size: 30px;
}
span.medium {
    font-size: 40px;
}
span.large {
    font-size: 50px;
}
span.xlarge {
    font-size: 60px;
}
span.xxlarge {
    font-size: 70px;
}
